PORT=3000
CITTATI_BASE_URL=https://flits.cittati.com.br
CITTATI_APP_CODE=200
CITTATI_CLIENT_ID=1
CITTATI_COMPANY_ID=marcela.macedo%40empresa1.com.br

# Preencha localmente. Não publique este arquivo.
CITTATI_USERNAME=
CITTATI_PASSWORD=

# Opcional: se já tiver um token manual, o sistema usa como token inicial.
# Mesmo assim, se usuário/senha estiverem preenchidos, ele tenta renovar quando expirar.
CITTATI_TOKEN=
